* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
    
}

/* Remove default list styles */
nav ul {
  list-style-type: none;  /* Removes bullets */
  padding: 10px;  /* Removes padding */
  margin: 0;  /* Removes margin */
  background-color: #2C6F2A;
  text-align: right;
}

/* Display the list items horizontally */
nav ul li {
  display: inline-block;  /* Makes each item display horizontally */
  margin-right: 20px;  /* Adds space between the items */
}

/* Style the links */
nav ul li a {
  text-decoration: none;  /* Removes underlines */
  color: white;  /* Sets the text color */
  font-size: 16px;  /* Adjust the font size */
}

body {
  font-family: Arial, sans-serif;
  align-items: center;
  text-align: center;
}

header {
  background-color:forestgreen;
  padding: 20px;
  text-align: center;
  color: #ecf0f1;
  align-items: center;
  text-align: center;
}

nav {
  background-color: white;
  grid-template-rows: 0fr;
  align-items: center;
  text-align: center;
  
}

nav ul {overflow: hidden;}

nav.open {grid-template-rows: 1fr;}

#myButton {
  font-size: 2rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: right;
  padding: 0.25rem 2vw;
}

ul.menu li a {
  display: grid;
  padding: 0.75rem 2vw;
  color: black;
  text-decoration: none;
  background-color: #f39c12;
}

li.current-menu-item a {
  background-color: rgba(0,0,0,0.2);
}

ul.menu {
  display: flex;
  list-style-type: none;
}

ul.menu, ul.menu.open {
  justify-content: none;
}

ul.menu a:hover {
background-color: rgba(255,255,255,0.2);
}


ul.open.menu {
display: block;
}

#myButton.open::before {
  content: "✖";
}

.layout-toggle {
  margin: 20px 0;
}

/* Footer */  
.hero {
  text-align: center;
  background-color: #f39c12;
  padding: 50px 20px;
}

.hero h1 {
  color: white;
  font-size: 2.5em;
}

.cta-button {
  background-color: forestgreen;
  color: white;
  padding: 15px;
  margin: 100px;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

.featured-products {
  margin-top: 40px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 8px;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h3 {
  margin-top: 10px;
}

.product-card .details-button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}


footer {
  background-color:#2C6F2A;
  color: white;
  text-align: center;
  padding: 10px 0;
}